.banner {
  position: relative;
  height: 50vh;
  background-color: purple;
  background: url("https://a0.muscache.com/im/pictures/23b047cd-19c9-42c0-a83b-2f4f6f25717b.jpg?im_w=1200") center center;
  margin-bottom: 200px;
}

.banner_info {
  color: white;
}
