html,
body {
  height: 100%;
}

.banner {
  position: relative;
  height: 100vh;
  background: url("https://res.cloudinary.com/jameschenn/image/upload/v1649668443/airPvP/splash_banner_lah6df.png?im_w=1200") center center;

}

.banner_info {
  color: white;
  text-align: center;
}

.banner_info h1 {
  padding: 18px;
}

.banner_button {
  margin-top: 10px;
  height: 40px;
  width: 100px;
  color: black;
  background-color: black;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.banner_button:hover {
  background-color: pink;
  box-shadow:
    0 0 60px 10px #fff,
        /* inner white */
    0 0 100px 25px #f0f,
        /* middle magenta */
    0 0 140px 35px #0ff;
      /* outer cyan */
}

.banner_button:hover a {
  font-weight: bold;
}
