li {
  list-style-type: none;
}

.booking_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;

}

.booking_card {
  background-color: snow;

  width: 400px;
  margin-top: 15px;
  padding: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.booking_img img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
  object-fit:cover;
  vertical-align: bottom;
}

.booking_img {
  margin: 15px;

}
