body {
  background-color: pink;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.spot_container {
  display: flex;
  justify-content: center;
}

.spot_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.card-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: contain;
  /* border: solid black 2px; */
  height: 350px;
  width: 350px;
  padding-left: 20px;
}

.spot_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spot_info p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

.spot_price {
  margin-left: 100px;
}
