.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  height: 50px;
  font-size: 15px;
  bottom: 0;
  border-top: lightgray solid 1px;
  margin-top: 50vh;
}

.footer-div a {
  margin-left: 5px;
  margin-right: 5px;
}
